.main_bg{
    background-color: rgba(20, 173, 102, 0.205);
}
.logo-img{
    width: 200px;
}
.icon-img{
    width: 50px;
}
.icon_box{
    background-color: #28a74609;
    transition: .2s;
    padding: 40px 10px;
    width: 100%;
    margin: 0 0 10px 0;
}
.icon_box:hover{
    background-color: #fff;
    box-shadow: .5px .5px 20px rgba(36, 36, 36, 0.082);
}
.card-footer{
    background-color: #fff;
    border: 0;
}
.card-footer img{
    width: 20px;
}
.card{
    border: 0;
    box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.171);
    border-radius: 10px;
}
.testimonial img{
    width: 200px;
}
.container ul{
    list-style-type: none;
}